body {
	background-color: $tertiary-color;
}



//nav bar
.contain-to-grid, nav.top-bar, .top-bar-section li a:not(.button){
	background-color: $secondary-color;
}

.top-bar-section li a:not(.button):hover, .top-bar-section ul li.active > a {
 	background-color: $alert-color;
 }


//homepage banner
#views_slideshow_cycle_main_homepage_slideshow-block_1 {
	width: 100%;
	//border: solid 5px red;
}

.views-field.views-field-field-img img{
	max-height: 350px;
	width: 100%;
	//border: green 5px solid;
}

.views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section {
	width: 100%;
}

.block.block-views.contextual-links-region.block-views-homepage-slideshow-block-1 header {
	margin: 0;
	padding: 0;
}


//homepage feed section
div.large-4.columns {
	padding-top: 2em;
}

.panel-pane .pane-views .pane-homepage-section-feed {
	background-color: lighten($primary-color, 40%);
}

main {
	background-color:  $primary-color;
}

.contextual-links-region, table tr th, table tr td {
	//padding: 1em;
	background-color:  $primary-color;
	border: 0;
}

.views-field.views-field-field-top-image {
	padding-bottom: 2em;
}
.views-field.views-field-field-top-image img {
	width: 100%;
}

.views-field.views-field-title span{
	line-height: 120%;
	font-size: 150%;
	font-family: $headline-font;
	font-weight: bold;

}

//footer
.l-footer.panel.row, .copyright.large-12.columns {
	border: none;
	text-align: center;
	background-color: $secondary-color;
	color: $primary-color;

}

//general styles 
h1, h2 {
		font-family: $headline-font;
}

//aside style
aside {
	padding-top: 4em;
}